.input {
  display: flex;
  position: relative;
  padding: 0 1.2rem;
  border: 1px solid #d2d2d2;
  background-color: #fff;
  border-radius: 1.0rem;
  transition: border-color 0.3s ease-out;
  align-items: center;

  input {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    position: relative;
    width: 100%;
    height: 4.4rem;
    padding-left: .2rem;
    padding-right: 0;
    border: none;
    outline: none;
    background-color: #fff;
    color: #222;
    font-weight: 700;
    font-size: 1.7rem;

    &::placeholder {
      color: rgba(0, 0, 0, 0) !important;
    }
  }
  &.left input {
    text-align: left;
  }
  &.center input {
    text-align: center;
  }
  &.right input {
    text-align: right;
  }

  span.line {
    position: absolute;
    top: -.1rem;
    left: 1.0rem;
    width: 0;
    height: .1rem;
    background-color: #fff;
    transition: width 0.3s ease-out;
  }

  label {
    position: absolute;
    top: 1.0rem;
    left: 1.3rem;
    padding: 0;
    font-size: 1.7rem;
    color: #d2d2d2;
    z-index: 1;
    transition: 0.3s ease-out;
  }
  &.focus label,
  &.on label {
    top: -8px;
    left: 1.0rem;
    padding: 0 5px;
    font-size: 13px;
    color: #222;
  }
}

.input {
  input:read-only::placeholder {
    color: rgba(0, 0, 0, 0) !important;
  }

  &.unit input {
    padding: 0 12px;
  }

  &.focus {
    border-color: #26282c;
    input:focus {
      border: none;
    }
  }

  .btn-clear {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
    width: 2.2rem;
    height: 2.2rem;
    margin-left: 1.0rem;
    overflow: hidden;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' width='30px' height='30px'%3E%3Cpath d='M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M16.414,15 c0,0,3.139,3.139,3.293,3.293c0.391,0.391,0.391,1.024,0,1.414c-0.391,0.391-1.024,0.391-1.414,0C18.139,19.554,15,16.414,15,16.414 s-3.139,3.139-3.293,3.293c-0.391,0.391-1.024,0.391-1.414,0c-0.391-0.391-0.391-1.024,0-1.414C10.446,18.139,13.586,15,13.586,15 s-3.139-3.139-3.293-3.293c-0.391-0.391-0.391-1.024,0-1.414c0.391-0.391,1.024-0.391,1.414,0C11.861,10.446,15,13.586,15,13.586 s3.139-3.139,3.293-3.293c0.391-0.391,1.024-0.391,1.414,0c0.391,0.391,0.391,1.024,0,1.414C19.554,11.861,16.414,15,16.414,15z' style='&%2310; fill: %23555;&%2310;'/%3E%3C/svg%3E");
    background-size: 2.2rem 2.2rem;
    transform-origin: 50% 50%;
    &.v-enter-active,
    &.v-leave-active {
      scale: 1;
      opacity: 1;
      transition: 0.3s ease-out;
    }

    &.v-enter-from,
    &.v-leave-to {
      scale: 0.5;
      opacity: 0;
    }
  }

  .unit {
    padding-left: .6rem;
    font-size: 1.7rem;
  }

  .btn-datepicker {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
    width: 2.2rem;
    height: 4.0rem;
    margin-left: 1.0rem;
    overflow: hidden;
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.75 0.000244141C4.02614 0.000244141 4.25 0.224102 4.25 0.500244V1.00024H12.25V0.500244C12.25 0.224102 12.4739 0.000244141 12.75 0.000244141C13.0261 0.000244141 13.25 0.224102 13.25 0.500244V1.00024H14.25C15.3546 1.00024 16.25 1.89567 16.25 3.00024V14.0002C16.25 15.1048 15.3546 16.0002 14.25 16.0002H2.25C1.14543 16.0002 0.25 15.1048 0.25 14.0002V3.00024C0.25 1.89567 1.14543 1.00024 2.25 1.00024H3.25V0.500244C3.25 0.224102 3.47386 0.000244141 3.75 0.000244141ZM1.25 4.00024V14.0002C1.25 14.5525 1.69772 15.0002 2.25 15.0002H14.25C14.8023 15.0002 15.25 14.5525 15.25 14.0002V4.00024H1.25Z' fill='black'/%3E%3C/svg%3E");
    background-size: 1.7rem 1.6rem;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transform-origin: 50% 50%;
  }
}

.input-select-list {
  position: relative;
  margin-top: 1.0rem;
  padding: 1.0rem 20px;
  border: 1px solid #c6cbd0;
  border-radius: 1.0rem;

  li {
    padding: .8rem 0;

    a {
      color: #666;
    }

    span {
      font-weight: 700;
      color: #ee673b;
    }
  }
}


.select-wrap {
  position: relative;
  height: 100%;
  text-align: center;
  overflow: hidden;
  font-size: 2.0rem;
  color: #ddd;

  &:before {
      position: absolute;
      z-index: 1;
      display: block;
      content: "";
      width: 100%;
      height: 50%;
      top: 0;
      background-image: linear-gradient(to bottom, rgba(1, 1, 1, 0.5), rgba(1, 1, 1, 0));
  }

  &:after {
      position: absolute;
      z-index: 1;
      display: block;
      content: "";
      width: 100%;
      height: 50%;
      bottom: 0;
      background-image: linear-gradient(to top, rgba(1, 1, 1, 0.5), rgba(1, 1, 1, 0));
  }

  .select-options {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 0;
      transform-style: preserve-3d;
      margin: 0 auto;
      display: block;
      transform: translateZ(-15.0rem) rotateX(0deg);
      -webkit-font-smoothing: subpixel-antialiased;
      color: #666;

      .select-option {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 5.0rem;
          -webkit-font-smoothing: subpixel-antialiased;

          &:nth-child(1) {
              transform: rotateX(0deg) translateZ(15.0rem);
          }

          &:nth-child(2) {
              transform: rotateX(-18deg) translateZ(15.0rem);
          }

          &:nth-child(3) {
              transform: rotateX(-36deg) translateZ(15.0rem);
          }

          &:nth-child(4) {
              transform: rotateX(-54deg) translateZ(15.0rem);
          }

          &:nth-child(5) {
              transform: rotateX(-72deg) translateZ(15.0rem);
          }

          &:nth-child(6) {
              transform: rotateX(-90deg) translateZ(15.0rem);
          }

          &:nth-child(7) {
              transform: rotateX(-108deg) translateZ(15.0rem);
          }

          &:nth-child(8) {
              transform: rotateX(-126deg) translateZ(15.0rem);
          }

          &:nth-child(9) {
              transform: rotateX(-144deg) translateZ(15.0rem);
          }

          &:nth-child(10) {
              transform: rotateX(-162deg) translateZ(15.0rem);
          }

          &:nth-child(11) {
              transform: rotateX(-180deg) translateZ(15.0rem);
          }

          &:nth-child(12) {
              transform: rotateX(-198deg) translateZ(15.0rem);
          }

          &:nth-child(13) {
              transform: rotateX(-216deg) translateZ(15.0rem);
          }

          &:nth-child(14) {
              transform: rotateX(-234deg) translateZ(15.0rem);
          }

          &:nth-child(15) {
              transform: rotateX(-252deg) translateZ(15.0rem);
          }

          &:nth-child(16) {
              transform: rotateX(-270deg) translateZ(15.0rem);
          }

          &:nth-child(17) {
              transform: rotateX(-288deg) translateZ(15.0rem);
          }

          &:nth-child(18) {
              transform: rotateX(-306deg) translateZ(15.0rem);
          }

          &:nth-child(19) {
              transform: rotateX(-324deg) translateZ(15.0rem);
          }

          &:nth-child(20) {
              transform: rotateX(-342deg) translateZ(15.0rem);
          }

          &:nth-child(21) {
              transform: rotateX(-360deg) translateZ(15.0rem);
          }

          &:nth-child(22) {
              transform: rotateX(-378deg) translateZ(15.0rem);
          }

          &:nth-child(23) {
              transform: rotateX(-396deg) translateZ(15.0rem);
          }

          &:nth-child(24) {
              transform: rotateX(-414deg) translateZ(15.0rem);
          }

          &:nth-child(25) {
              transform: rotateX(-432deg) translateZ(15.0rem);
          }

          &:nth-child(26) {
              transform: rotateX(-450deg) translateZ(15.0rem);
          }

          &:nth-child(27) {
              transform: rotateX(-468deg) translateZ(15.0rem);
          }

          &:nth-child(28) {
              transform: rotateX(-486deg) translateZ(15.0rem);
          }

          &:nth-child(29) {
              transform: rotateX(-504deg) translateZ(15.0rem);
          }

          &:nth-child(30) {
              transform: rotateX(-522deg) translateZ(15.0rem);
          }

          &:nth-child(31) {
              transform: rotateX(-540deg) translateZ(15.0rem);
          }

          &:nth-child(32) {
              transform: rotateX(-558deg) translateZ(15.0rem);
          }

          &:nth-child(33) {
              transform: rotateX(-576deg) translateZ(15.0rem);
          }

          &:nth-child(34) {
              transform: rotateX(-594deg) translateZ(15.0rem);
          }

          &:nth-child(35) {
              transform: rotateX(-612deg) translateZ(15.0rem);
          }

          &:nth-child(36) {
              transform: rotateX(-630deg) translateZ(15.0rem);
          }

          &:nth-child(37) {
              transform: rotateX(-648deg) translateZ(15.0rem);
          }

          &:nth-child(38) {
              transform: rotateX(-666deg) translateZ(15.0rem);
          }

          &:nth-child(39) {
              transform: rotateX(-684deg) translateZ(15.0rem);
          }

          &:nth-child(40) {
              transform: rotateX(-702deg) translateZ(15.0rem);
          }

          &:nth-child(41) {
              transform: rotateX(-720deg) translateZ(15.0rem);
          }

          &:nth-child(42) {
              transform: rotateX(-738deg) translateZ(15.0rem);
          }

          &:nth-child(43) {
              transform: rotateX(-756deg) translateZ(15.0rem);
          }

          &:nth-child(44) {
              transform: rotateX(-774deg) translateZ(15.0rem);
          }

          &:nth-child(45) {
              transform: rotateX(-792deg) translateZ(15.0rem);
          }

          &:nth-child(46) {
              transform: rotateX(-810deg) translateZ(15.0rem);
          }

          &:nth-child(47) {
              transform: rotateX(-828deg) translateZ(15.0rem);
          }

          &:nth-child(48) {
              transform: rotateX(-846deg) translateZ(15.0rem);
          }

          &:nth-child(49) {
              transform: rotateX(-864deg) translateZ(15.0rem);
          }

          &:nth-child(50) {
              transform: rotateX(-882deg) translateZ(15.0rem);
          }

          &:nth-child(51) {
              transform: rotateX(-900deg) translateZ(15.0rem);
          }

          &:nth-child(52) {
              transform: rotateX(-918deg) translateZ(15.0rem);
          }

          &:nth-child(53) {
              transform: rotateX(-936deg) translateZ(15.0rem);
          }

          &:nth-child(54) {
              transform: rotateX(-954deg) translateZ(15.0rem);
          }

          &:nth-child(55) {
              transform: rotateX(-972deg) translateZ(15.0rem);
          }

          &:nth-child(56) {
              transform: rotateX(-990deg) translateZ(15.0rem);
          }

          &:nth-child(57) {
              transform: rotateX(-1008deg) translateZ(15.0rem);
          }

          &:nth-child(58) {
              transform: rotateX(-1026deg) translateZ(15.0rem);
          }

          &:nth-child(59) {
              transform: rotateX(-1044deg) translateZ(15.0rem);
          }

          &:nth-child(60) {
              transform: rotateX(-1062deg) translateZ(15.0rem);
          }

          &:nth-child(61) {
              transform: rotateX(-1080deg) translateZ(15.0rem);
          }

          &:nth-child(62) {
              transform: rotateX(-1098deg) translateZ(15.0rem);
          }

          &:nth-child(63) {
              transform: rotateX(-1116deg) translateZ(15.0rem);
          }

          &:nth-child(64) {
              transform: rotateX(-1134deg) translateZ(15.0rem);
          }

          &:nth-child(65) {
              transform: rotateX(-1152deg) translateZ(15.0rem);
          }

          &:nth-child(66) {
              transform: rotateX(-1170deg) translateZ(15.0rem);
          }

          &:nth-child(67) {
              transform: rotateX(-1188deg) translateZ(15.0rem);
          }

          &:nth-child(68) {
              transform: rotateX(-1206deg) translateZ(15.0rem);
          }

          &:nth-child(69) {
              transform: rotateX(-1224deg) translateZ(15.0rem);
          }

          &:nth-child(70) {
              transform: rotateX(-1242deg) translateZ(15.0rem);
          }

          &:nth-child(71) {
              transform: rotateX(-1260deg) translateZ(15.0rem);
          }

          &:nth-child(72) {
              transform: rotateX(-1278deg) translateZ(15.0rem);
          }

          &:nth-child(73) {
              transform: rotateX(-1296deg) translateZ(15.0rem);
          }

          &:nth-child(74) {
              transform: rotateX(-1314deg) translateZ(15.0rem);
          }

          &:nth-child(75) {
              transform: rotateX(-1332deg) translateZ(15.0rem);
          }

          &:nth-child(76) {
              transform: rotateX(-1350deg) translateZ(15.0rem);
          }

          &:nth-child(77) {
              transform: rotateX(-1368deg) translateZ(15.0rem);
          }

          &:nth-child(78) {
              transform: rotateX(-1386deg) translateZ(15.0rem);
          }

          &:nth-child(79) {
              transform: rotateX(-1404deg) translateZ(15.0rem);
          }

          &:nth-child(80) {
              transform: rotateX(-1422deg) translateZ(15.0rem);
          }

          &:nth-child(81) {
              transform: rotateX(-1440deg) translateZ(15.0rem);
          }

          &:nth-child(82) {
              transform: rotateX(-1458deg) translateZ(15.0rem);
          }

          &:nth-child(83) {
              transform: rotateX(-1476deg) translateZ(15.0rem);
          }

          &:nth-child(84) {
              transform: rotateX(-1494deg) translateZ(15.0rem);
          }

          &:nth-child(85) {
              transform: rotateX(-1512deg) translateZ(15.0rem);
          }

          &:nth-child(86) {
              transform: rotateX(-1530deg) translateZ(15.0rem);
          }

          &:nth-child(87) {
              transform: rotateX(-1548deg) translateZ(15.0rem);
          }

          &:nth-child(88) {
              transform: rotateX(-1566deg) translateZ(15.0rem);
          }

          &:nth-child(89) {
              transform: rotateX(-1584deg) translateZ(15.0rem);
          }

          &:nth-child(90) {
              transform: rotateX(-1602deg) translateZ(15.0rem);
          }

          &:nth-child(91) {
              transform: rotateX(-1620deg) translateZ(15.0rem);
          }

          &:nth-child(92) {
              transform: rotateX(-1638deg) translateZ(15.0rem);
          }

          &:nth-child(93) {
              transform: rotateX(-1656deg) translateZ(15.0rem);
          }

          &:nth-child(94) {
              transform: rotateX(-1674deg) translateZ(15.0rem);
          }

          &:nth-child(95) {
              transform: rotateX(-1692deg) translateZ(15.0rem);
          }

          &:nth-child(96) {
              transform: rotateX(-1710deg) translateZ(15.0rem);
          }

          &:nth-child(97) {
              transform: rotateX(-1728deg) translateZ(15.0rem);
          }

          &:nth-child(98) {
              transform: rotateX(-1746deg) translateZ(15.0rem);
          }

          &:nth-child(99) {
              transform: rotateX(-1764deg) translateZ(15.0rem);
          }

          &:nth-child(100) {
              transform: rotateX(-1782deg) translateZ(15.0rem);
          }
      }
  }
}

.highlight {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  background-color: #000;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  font-size: 2.4rem;
  overflow: hidden;
}

.highlight-list {
  position: absolute;
  width: 100%;
}

.date-selector-wrap {
  padding: 2.0rem;
}

.date-selector {
  perspective: 2000px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: 30.0rem;
  border-radius: 1.6rem;
  overflow: hidden;

  >div {
      flex: 1;
  }

  .select-wrap {
      font-size: 1.8rem;
  }

  .highlight {
      font-size: 2.0rem;
  }
}